<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles.css")
    body
        .box
            .box__col1 col1
            .box__col2 
                .box__col2__a col2 a
                .box__col2__b col2 b
            
                                
                
                
